﻿@page "/addFlower"
@inject HttpClient client;
@inject NavigationManager NavManager;

<h3>Ajouter des fleurs</h3>

<div>
    <EditForm Model="_sentFlower">
        <div>
            <div class="mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#frDesc">French</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="frDesc" class="tab-pane active">
                        <div>
                            <label>Nom :</label>
                            <input type="text" @bind="_sentFlower.Name_fr" />
                        </div>
                        <div>
                            <p>Description : </p>
                            <textarea @bind="_sentFlower.Description_fr" />
                        </div>
                    </div>
                    <div id="nlDesc" class="tab-pane fade">
                        <div>
                            <label>Nom :</label>
                            <input type="text" @bind="_sentFlower.Name_nl" />
                        </div>

                        <div>
                            <p>Description : </p>
                            <textarea @bind="_sentFlower.Description_nl" />
                        </div>
                    </div>
                    <div id="enDesc" class="tab-pane fade">
                        <div>
                            <label>Nom</label>
                            <input type="text" @bind="_sentFlower.Name_en" />
                        </div>
                        <div>
                            <p>Description : </p>
                            <textarea @bind="_sentFlower.Description_en" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <label>Longitude :</label>
            <input type="number" step="0.001" @bind="_sentFlower.Longitude" />
        </div>
        <div>
            <label>Latitude :</label>
            <input type="number" step="0.001" @bind="_sentFlower.Latitude" />
        </div>
        <div>
            <label>Interval :</label>
            <input type="number" step="0.01" @bind="_sentFlower.Latitude" />
        </div>
        <div>
            <label>Date de début :</label>
            <InputDate @bind-Value="_sentFlower.StartDate" />
        </div>
        <div>
            <label>Date de fin :</label>
            <InputDate @bind-Value="_sentFlower.EndDate" />
        </div>
        <div>
            <button class="btn btn-outline-success" @onclick="(() => Add())">Ajouter</button>
            <button class="btn btn-outline-danger" @onclick="(() => Redirect())">Retour</button>
        </div>
    </EditForm>
</div>



@code {
    public pointInteret _sentFlower = new pointInteret();
    //public string _Name_fr;
    //public string _Name_nl;
    //public string _Name_en;
    //public string _Description_fr;
    //public string _Description_nl;
    //public string _Description_en;
    //public string _Longitude;
    //public string _Latitude;
    //public DateTime _StartDate;
    //public DateTime _EndDate;


    protected async Task Add()
    {
        //_sentFlower.Name_fr = _Name_fr;
        //_sentFlower.Name_nl = _Name_nl;
        //_sentFlower.Name_en = _Name_en;
        //_sentFlower.Description_fr = _Description_fr;
        //_sentFlower.Description_nl = _Description_nl;
        //_sentFlower.Description_en = _Description_en;
        //_sentFlower.StartDate = _StartDate;
        //_sentFlower.EndDate = _EndDate;
        _sentFlower.Category_id = 2;
        //string json = Newtonsoft.Json.JsonConvert.SerializeObject(_sentFlower);
        await client.PostAsJsonAsync("pointinteret", _sentFlower);
        NavManager.NavigateTo("/fleurs");
    }

    private void Redirect()
    {
        NavManager.NavigateTo("/fleurs");
    }
}
