﻿@page "/fleurs"
@inject HttpClient client;
@inject NavigationManager NavManager;




<h3>Fleurs <button class="btn btn-primary" style="border-radius:50px" @onclick="(() => RedirectAdd())">+</button></h3>
<ul>
    @foreach (var fleur in ListeFleurs)
    {
        <li>
            <p>
                @fleur.Name_fr
                @*<button class="btn btn-danger" @onclick="(() => Delete(fleur.Id))"><i class="far fa-trash-alt"></i></button>*@
                <button class="btn btn-info" @onclick="(() => RedirectUpdate(fleur.Id))"><i class="fas fa-edit"></i></button>
                <button class="@(fleur.IsDeleted ? "btn btn-success" : "btn btn-danger")" @onclick="(() => SoftDelete(fleur.Id))"><i class="@(fleur.IsDeleted ? "fas fa-history" : "far fa-trash-alt")"></i></button>
            </p>
            
        </li>

    }
</ul>


@code {

    List<pointInteret> ListeFleurs = new List<pointInteret>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await client.GetAsync("pointinteret");
            if (res.IsSuccessStatusCode)
            {
                string json = await res.Content.ReadAsStringAsync();
                ListeFleurs = Newtonsoft.Json.JsonConvert.DeserializeObject<List<pointInteret>>(json);
                ListeFleurs = ListeFleurs.Where(x => x.Category_id == 2).ToList();
            }

        }
        catch (Exception e)
        {
            throw;
        }
    }

    private void RedirectAdd()
    {
        NavManager.NavigateTo("/addFlower");
    }
    private void RedirectUpdate(int id)
    {
        NavManager.NavigateTo("/update/"+ id);
    }

    // Hard Delete
    //private Task Delete(int id)
    //{
    //    pointInteret lafleuradel = ListeFleurs.FirstOrDefault(x => x.Id == id);
    //    ListeFleurs.Remove(lafleuradel);
    //    return client.DeleteAsync("pointinteret/" + id);
    //}

    private Task SoftDelete(int id)
    {
        pointInteret lafleuradel = ListeFleurs.FirstOrDefault(x => x.Id == id);
        lafleuradel.IsDeleted = !lafleuradel.IsDeleted;
        return client.PutAsJsonAsync("pointinteret" , lafleuradel);

    }
}


