﻿@page "/update/{id:int}"
@inject HttpClient client;
@inject NavigationManager NavManager;


<style>
</style>

<h3>Modifier</h3>

<EditForm Model="Fleur">
    <div>
        <div class=" mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#frDesc">French</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                </li>
            </ul>
            <div class="tab-content">

                <div id="frDesc" class=" tab-pane active">
                    <div>
                        <label>Nom :</label>
                        <input type="text" @bind="Fleur.Name_fr" />
                    </div>
                    <div>
                        <p>Description : </p>
                        <textarea @bind="Fleur.Description_fr" />
                    </div>
                </div>
                <div id="nlDesc" class=" tab-pane fade">
                    <div>
                        <label>Nom :</label>
                        <input type="text" @bind="Fleur.Name_nl" />
                    </div>

                    <div>
                        <p>Description : </p>
                        <textarea @bind="Fleur.Description_nl" />
                    </div>
                </div>
                <div id="enDesc" class="tab-pane fade">
                    <div>
                        <label>Nom</label>
                        <input type="text" @bind="Fleur.Name_en" />
                    </div>
                    <div>
                        <p>Description : </p>
                        <textarea @bind="Fleur.Description_en" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="supplement">
        <div>
            <label>Longitude :</label>
            <input type="text" @bind="Fleur.Longitude" />
        </div>
        <div>
            <label>Latitude :</label>
            <input type="text" @bind="Fleur.Latitude" />
        </div>
        <div>
            <label>Date de début :</label>
            <InputDate @bind-Value="Fleur.StartDate" />
        </div>
        <div>
            <label>Date de fin :</label>
            <InputDate @bind-Value="Fleur.EndDate" />
        </div>
        <div>
            <button class="btn btn-outline-success" @onclick="(() => Updated())">Modifier</button>
            <button class="btn btn-outline-danger" @onclick="(() => Redirect())">Retour</button>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public int id { get; set; }

    public pointInteret Fleur = new pointInteret();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await client.GetAsync("pointinteret/"+ id);
            if (res.IsSuccessStatusCode)
            {
                string json = await res.Content.ReadAsStringAsync();
                Fleur = Newtonsoft.Json.JsonConvert.DeserializeObject<pointInteret>(json);
            }

        }
        catch (Exception e)
        {
            throw;
        }
    }

    private void Redirect()
    {
        NavManager.NavigateTo("/fleurs");
    }

    protected async Task Updated()
    {
        await client.PutAsJsonAsync("pointinteret", Fleur);
        NavManager.NavigateTo("/fleurs");
    }
}
